# no Emacs *.org files
s1z1_17_10_2020/*org*
# no index.js files (ten napisalismy z prowadzacym na cwiczeniach)
s1z1_17_10_2020/index.js
# ignoruj pliki pdf (wyklady) we wszystkich katalogach
*/*.pdf
# ignoruj pliki pomocnicze/zapasowe Emacsa
*/*~ 

# ignoruj pliki js w joshephus problem
s1z5_28_11_2020/pd5/josephus_problem/rekurencja/*.js
s1z5_28_11_2020/pd5/josephus_problem/for_loop/*.js
s1z5_28_11_2020/pd5/josephus_problem/while_loop/*.js

### dla zadan zaliczeniowych z sem1
# idnoruj pliki w folderze node_modules w z1_waga
s1_zad_zaliczeniowe/z1_waga/node_modules
# ignoruj pliki js
s1_zad_zaliczeniowe/z1_waga/*.js

### dla s2z1_06_03_2021
# ignoruj folder i pliki w folderze node_modules
s2z1_06_03_2021/z2/human_user_guesses/node_modules
# ignoruj pliki *.js
/s2z1_06_03_2021/z1/*.js
s2z1_06_03_2021/z2/human_user_guesses/*.js
s2z1_06_03_2021/z2/two_classes_guesser_and_hinter/*.js
/s2z1_06_03_2021/z3/*.js
/s2z1_06_03_2021/z4/*.js
/s2z1_06_03_2021/z5/*.js
/s2z1_06_03_2021/z6/*.js


### dla s2z2_20_03_2021
# ignoruj pliki *.js
/s2z2_20_03_2021/z1/*.js
/s2z2_20_03_2021/z1/classes/*.js
/s2z2_20_03_2021/z2/*.js
/s2z2_20_03_2021/z2/classes/*.js
/s2z2_20_03_2021/z3/*.js
/s2z2_20_03_2021/z3/classes/*.js
/s2z2_20_03_2021/z4/*.js
/s2z2_20_03_2021/z4/classes/*.js
/s2z2_20_03_2021/z4/utilities/*.js

### dla s2z3_10_04_2021
# ignoruj pliki *.js
s2z3_10_04_2021/01/*.js

## ignoruj wszystkie pliki *.js w tym folderze i jego podfolderach
s2z3_10_04_2021/**/*.js

## ignoruj wszystkie pliki w folderze simplified-chess
s2z3_10_04_2021/02/browser_version/simplified-chess/*
## oprocz plikow: package.json, package-lock.json i folderu src
!s2z3_10_04_2021/02/browser_version/simplified-chess/package.json
!s2z3_10_04_2021/02/browser_version/simplified-chess/package-lock.json
!s2z3_10_04_2021/02/browser_version/simplified-chess/src
## ignoruj wszystkie pliki w folderze src
s2z3_10_04_2021/02/browser_version/simplified-chess/src/*
## oprocz folderu app
!s2z3_10_04_2021/02/browser_version/simplified-chess/src/app/

## ignoruj wszystkie pliki w folderze bouncing-ball
s2z3_10_04_2021/03/browser_version/bouncing-ball/*
## oprocz plikow: package.json, package-lock.json i folderu src
!s2z3_10_04_2021/03/browser_version/bouncing-ball/package.json
!s2z3_10_04_2021/03/browser_version/bouncing-ball/package-lock.json
!s2z3_10_04_2021/03/browser_version/bouncing-ball/src
## ignoruj wszystkie pliki w folderze src
s2z3_10_04_2021/03/browser_version/bouncing-ball/src/*
## oprocz folderu app
!s2z3_10_04_2021/03/browser_version/bouncing-ball/src/app/