# no Emacs *.org files
s1z1_17_10_2020/*org*
# no index.js files (ten napisalismy z prowadzacym na cwiczeniach)
s1z1_17_10_2020/index.js
# ignoruj pliki pdf (wyklady) we wszystkich katalogach
*/*.pdf
# ignoruj pliki pomocnicze/zapasowe Emacsa
*/*~ 

# ignoruj pliki js w joshephus problem
s1z5_28_11_2020/pd5/josephus_problem/*.js

### dla zadan zaliczeniowych z sem1
# idnoruj pliki w folderze node_modules w z1_waga
s1_zad_zaliczeniowe/z1_waga/node_modules
# ignoruj pliki js
s1_zad_zaliczeniowe/z1_waga/*.js

### dla s2z1_06_03_2021
# ignoruj folder i pliki w folderze node_modules
/s2z1_06_03_2021/z2/node_modules/
# ignoruj pliki *.js
/s2z1_06_03_2021/z1/*.js
/s2z1_06_03_2021/z2/*.js
/s2z1_06_03_2021/z3/*.js
/s2z1_06_03_2021/z4/*.js
/s2z1_06_03_2021/z5/*.js
/s2z1_06_03_2021/z6/*.js
