<div>
  <h1>Simple Node Build-Test App</h1>
  <table>
    <tr>
      <td>
        <canvas #canvas width="600" height="600"></canvas>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <h2>Enter Your command below</h2>
        <p>
          Two types of allowed commands: for building and testing connections
          (respectively) between 1 and 2
        </p>
        <p>B 1 2</p>
        <p>T 1 2</p>
        <input name="" type="text" value="" maxlength="5" />
        <br />
        <br />
        <button type="button">Evaluate command</button>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
