.treasureMap {
  width: 400px;
  height: 400px;
  margin: 20px;
  border: 25px solid #333;
}
.field {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size: 70px;
  font-family: FreeSerif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
}

.green {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #00bb00;
  font-size: 70px;
  font-family: FreeSerif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
}

#searchSpeeds {
    width: 5em;
    height: 2em;
    background-color: #008cba;
    border: none;
    color: white;
    font-weight: bold;
}

button {
    background-color: #008CBA; /* blue */
    border: none;
    border-radius: 0.4em;
    color: white;
    padding: 0.4em 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}
