<div>
  <table>
    <tr>
      <td>
        <p>TREASURE MAP</p>
        <div class="treasureMap">
          <div *ngFor="let row of treasureMap; index as rId">
            <div
              *ngFor="let field of row; index as cId"
              [ngClass]="[
                areTwoArrEql([rId, cId], currentlyVisited) ? 'green' : 'field'
              ]"
            >
              {{ field }}
            </div>
          </div>
        </div>
      </td>
      <td>
        <p>Press the button to search for treasure</p>
        <button type="button" (click)="searchForTreasureInHtml()">
          Search for treasure
        </button>
        <br />
        <br />
        <span>TREASURE</span>
        <span *ngIf="!isTreasureFound"> NOT</span>
        <span> FOUND!</span>
        <p *ngIf="isTreasureFound">
          AMOUNT OF GOLD FOUND:
          {{ getTresaureFromCurrentField() }}
        </p>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
