<div>
  <table>
    <tr>
      <td>
        <h1>TREASURE MAP</h1>
        <div class="treasureMap">
          <div *ngFor="let row of treasureMap; index as rId">
            <div
              *ngFor="let field of row; index as cId"
              [ngClass]="[
                areTwoArrEql([rId, cId], currentlyVisited) ? 'green' : 'field'
              ]"
            >
              {{ field }}
            </div>
          </div>
        </div>
      </td>
      <td>
        <h1>Task/Game Description</h1>
        <p>Start from field [1, 1]. Goto coordinates shown in the field</p>
        <p>Continue until field coordinates are equal to its content</p>
        <p>Voila. Treasure Found</p>
        <h1>Choose search speed</h1>
        <label for="searchSpeeds"> Search speed [secs]: </label>
        <select
          name="searchSpeeds"
          id="searchSpeeds"
          [(ngModel)]="selectedSearchSpeedSecs"
        >
          <option *ngFor="let speed of searchSpeedsSecs" [value]="speed">
            {{ speed }}
          </option>
        </select>
        <h1>Press the button to search for treasure</h1>
        <button type="button" (click)="searchForTreasureInHtml()"
		      [disabled]="isTreasureFound">
          Search for treasure
        </button>
        <br />
        <br />
        <span>TREASURE</span>
        <span *ngIf="!isTreasureFound"> NOT</span>
        <span> FOUND!</span>
        <p *ngIf="isTreasureFound">
          AMOUNT OF GOLD FOUND:
          {{ getTresaureFromCurrentField() }}
        </p>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
