<div>
  <h1>Convay's Game of Life</h1>
  <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">
    More info -> Wikipedia
  </a>
  <table>
    <tr>
      <td>
        <div class="gameboard">
          <div *ngFor="let row of gameBoard.getGameBoard(); index as rId">
            <div
              *ngFor="let col of row; index as cId"
              [ngClass]="
                gameBoard.getCellContent([rId, cId]) ? 'alive' : 'dead'
              "
            >
              <span> </span>
            </div>
          </div>
        </div>
      </td>
      <td>
        <button type="button">Go to next state</button>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
