.gameboard {
  width: 40em;
  height: 40em;
}

.empty {
  width: 3.6em;
  height: 3.6em;
  float: left;
  background-color: #98AFC7;
  border: 0.2em white solid;
}

.ball {
  width: 3.6em;
  height: 3.6em;
  float: left;
  background-color: #FBB917;
  border: 0.2em white solid;
}
