<div>
  <table>
    <tr>
      <td>
        <div class="gameboard">
          <div *ngFor="let row of gameBoard.getGameBoard(); index as rId">
            <div
              *ngFor="let col of row; index as cId"
              [ngClass]="getValAtPos(rId, cId) === 0 ? 'empty ' : 'ball'"
            >
              <span> </span>
            </div>
          </div>
        </div>
      </td>
      <td>
        <p>Set ball into motion by pressing the start button</p>
        <p>
          The ball will stop automatically once it reaches its starting position
        </p>
        <p>Or after you click the stop button</p>
        <button type="button" (click)="setBallIntoMotion()">
          Set ball into motion
        </button>
        <br />
        <br />
        <button type="button" (click)="stopTheBall()">Stop the ball</button>
      </td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>
